*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
h1{
    color: #E1E2EF;
}
body{
    height: 100vh;
    text-align: center;
    background-color:#05204A;
}
.container{
    /* background-color: 5E3023; */
   
    height: 70vh;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
     width: 60vmin;
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60vmin;
    gap: 1.5vmin;

}
.box{
    background-color:#B497D6;
    height: 20vmin;
    width: 18vmin;
    border-radius: 0.7rem;
    box-shadow: 0 0 0 0.1rem rgba(0,0,0,.1);
    border: none;
    font-size: 8vmin;
    color: #E1E2EF;

} 
.reset_btn{
   background-color: #02020A; 
   color: #B497D6;
   width: 20vmin;
   border: none;
   border-radius: 4px;
   font-size:3vmin;
   margin-top: 7px;
   border: 2px solid transparent;
}
.reset_btn:active{
   transform: scale(0.95);
    box-shadow: 0 0 20px rgba(255,255,255,0.8);
    transition: box-shadow 0.1s;
}

button:focus{
    border-color: #5E3023;
    box-shadow: 0 0 5px #5E3023;
}
.reset_btn:hover{
    border-color: #5E3023;
}
#result{
    margin-top: 1rem;
    font-size: 6vmin;
    visibility: hidden ; 
    color: #E1E2EF;
    font-weight: 700;
}